*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

section{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    text-align: center;
    padding: 2.5rem;
    width: 80vw;
    max-width: 620px;
}

.container h2{
    font-size: 1.7rem;
    font-weight: 800;
}

.container .linea{
    height: .25rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}


.titulo{
    margin-bottom: 2rem;
}


article{
    padding: 2rem 5rem;
    background-color: beige;


}

#descripcion{
    text-align: justify;
    margin: 1rem 0;   
}