*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    font-size: 7rem;
    font-weight: 500;
}

h1{
    font-size: 4rem;
}


.btn{
    border: none;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: .5rem 1rem;
}