*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:beige;
}

header{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 4rem;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    background-color: beige;
}

header nav{
    display: flex;
    gap: 20px;
    margin-right: 2rem;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: brown;
}




main div{
    background-color: black;
    min-width: 400px;
    color: white;
    border-radius: 7px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

main > button{
    background-color: transparent;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1rem;
    padding: .5rem 1rem;
    width: 8rem;
    outline: 1px solid black;
    border: none;
}


main > button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100vw;
    height: 100vh;
}


span{
    font-weight: 900;
}